/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap'); */

body {
  margin: 0;
  font-family: mulish;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  src: url(./fonts/Mulish-LightItalic.ttf);
  font-family: mulish;
}

.navbar {
  background-color: #fff !important;
}

.nav_bg {
  background-color: transparent !important;
}

.navbar-brand {
  /* font-size: 1.9rem !important; */
  color: #565387 !important;
}

.navbar a {
  /* font-size: 1.3rem !important; */
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover {
  color: #3498db !important;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
